@import './_variable.scss';
@import './_Self-employment.scss';
@import './_User-Experience-UX.scss';
@font-face {
    font-family: cairo-font;
    src: url(../fonts/Cairo-Regular.ttf);
}
body{
    font-family: "cairo-font";
}
.navigation{
    display: flex;
    a.logo{
        width: 80px;
        img{
            height: 80px;
        }
    }
    nav{
        width: calc(100% - 80px);
        ul{
            li.active a.nav-link{
                color: #47AFE6 !important;
                border-bottom: 1px solid #47AFE6;
                font-weight: 700 !important;
            }
            li{

                a{
                    color: #555555;
                    font-weight: bold;
                    margin-left: 13px;
                    &:hover{
                        color: $header-color-main;
                        background-color: #F7F8F3;
                    }
                }
            }
        }
    }
}

section.who-are-we{
    background-color: #F7F8F3;
    margin: 130px 50px 50px;
    padding: 30px;
    h3{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: $header-color-main;
        margin-bottom: 30px;
    }
    p{
        color: $paragraph-color-main;
        font-size: 20px;
        line-height: 160%;
    }
}

section.Books{
    margin: 50px;
    padding: 30px;
    h3{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: $header-color-main;
        margin-bottom: 50px;
    }
    .image-boks{
        display: flex;
        padding: 10px;
        justify-content: space-evenly;
        a{
            width: 45%;
            img{
                width: 100%;
            }    
        }
    }
}

section.Connect-with-us{
    padding: 50px;
    margin-bottom: 50px;
    h3{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color:$header-color-main;
        margin-bottom: 50px;
    }
    div.map{
        iframe{
            width: 100%;
            height: 200px;
            margin-bottom: 30px;
        }
    }
    h4{
        font-size: 17px;
        color: $header-color-main;
        font-weight: bold;
    }
    div{
        color: #212529;
        i{
            color: #f3a741;
            margin-left: 6px;
            margin-top: 15px;
        }
    }
    form{
        input{
            width: 40%;
            margin-left: 3px;
            border: 1px solid #ebebeb;
            box-shadow: none;
            border-radius: 2px;
            font-size: 14px;
            transition: all .3s ease;
            padding: 6px 16px 7px;
            color: $paragraph-color-main;
            &:focus{
                outline: none !important;
                border-color: #719ECE;
                box-shadow: 0 0 10px #719ECE;
            }
        }
        textarea{
            width: 81%;
            height: 100px;
            margin-top: 15px;
            margin-bottom: 15px;
            border: 1px solid #ebebeb;
            box-shadow: none;
            border-radius: 2px;
            font-size: 14px;
            transition: all .3s ease;
            padding: 6px 16px 7px;
            color: $paragraph-color-main;
            &:focus{
                outline: none !important;
                border-color: #719ECE;
                box-shadow: 0 0 10px #719ECE;
            }
        }
    }
}

footer{
    background-color: #1F1E1E;
    padding: 50px;
    height: 100px;
    .background{
        margin-top: -10px;
        p{
            clear: both;
        }
        #copyright{
            font-size: 19px;
            font-weight: bold;
            color: $paragraph-color-main;
            float: right;
        }
        .social{
            float: left;
            a{
                text-decoration: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: #f3a741;
                background-color: #FFFFFF;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                transition: all 0.5s ease;
                &:hover, 
                &:focus,
                &:active{
                    background-color: $header-color-main;
                }
            }
        }
    }
}