@font-face {
    font-family: fomt-5;
    src: url(../fonts/Cairo-Regular.ttf);
}
body{
    font-family: "fomt-5";
    background-color: aqua;
}
h1{
    text-align: center;
    background-color: bisque;
    border: 4px solid red;
    padding: 20px;
}
img{
    width: 100px;
    height: 100px;
}